@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*General Styling*/
:root{

  /*color codes*/
  --instagram-blue: #0595F6;
  --facebook-blue: #395185;
  --light-blue: #0F4173;
  --very-light-blue: #B3DFFC;
  --dark-blue: #00376B;
  --light-grey: #FAFAFA;
  --dark-grey: #A1A1A1;
  --mild-grey: #DBDBDB;
  --mildish-grey: #8E8E8E
}

html {
  font-size: 62.5%;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: var(--light-grey);
}

*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5rem 2rem;
}

.inline{
  display: flex;
}


