@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.searchBar{
    padding: .16rem;
    background-color: var(--light-grey);
    border: 0.1rem solid var(--mild-grey);
    width: 23%;
    height: 2rem;
    border-radius: 0.33rem;
    font-family: Arial, FontAwesome, serif;
}

.searchBar::placeholder{
    text-align: center;
    color: var(--dark-grey);
}