.username{
    font-size: 2.72rem;
    font-weight: 300;
    margin-right: 2rem;
}

.followButton{
    background-color: var(--instagram-blue);
    color: white;
    font-weight: 550;
    padding: 0.48rem 0.8rem 0.32rem 0.80rem;
    border-radius: 0.48rem;
    margin-bottom: 0.64rem;
    font-size: 1.4rem;
}