.profile-tabbar{
    display: flex;
    justify-content: center;
    border-top: 0.1rem solid var(--mild-grey);
    padding: 0 4.8rem;
    max-width: 82rem;
    margin: auto;
}

.profile-tabbar-tab{
    display: flex;
    margin-right: 4.8rem;
    padding-top: 1.60rem;
    cursor: pointer;
}

.profile-tabbar-tab:last-child{
    margin-right: 0rem;
}

.profile-tabbar-tab-selected{
    border-top: 0.1rem solid black;
}

.profile-tabbar-tab-icon{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.48rem;
}

.profile-tabbar-tab-text{
    letter-spacing: 0.16rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;
}

.profile-tabbar-tab-text-selected{
    color: black;
}