:root{

    /*color codes*/
    --instagram-blue: #0595F6;
    --mild-grey: #DBDBDB;
}

.header{
    background: white;
    padding: 0.7rem 1.6rem .80rem 1.6rem;
    border-bottom: 0.1rem solid var(--mild-grey);
}

.header-container{
    max-width: 92.8rem;
    margin: auto;
    display: flex;
    place-content: space-between;
    align-items: center;
}

.header-actions{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    font-size: 1.45rem;
}

.header-actions-login{
    margin-right: 1.4rem;
    background: var(--instagram-blue);
    color: white;
    padding: .48rem 0.8rem 0.64rem 0.8rem;
    border-radius: .45rem;
    font-weight: 550;
}

.header-actions-signup{
    color: var(--instagram-blue);
    font-weight: 550;
}